@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

:root {
  --font-corpo-de-texto: "Inter", sans-serif;
  --font-titulos: "Montserrat";
  --cor-fundo-da-página: #0a0e17;
  --cor-fundo-da-seções: #161b22;
  --cor-Texto-Principal: #c9d1d9;
  --cor-Subtítulos: #8b949e;
  --cor-links-botões-Principal: #00d4ff;
  --cor-links-botões-Secundário: #58a6ff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2 {
  font:
    700 1.5em "Montserrat",
    sans-serif;
  color: var(--cor-Subtítulos); /* ciano neon */
  letter-spacing: 0.5px;
  text-align: center;
  display: inline-block;
  padding-bottom: 50px;
}
p {
  font-family: "Inter", system-ui, sans-serif;
  text-indent: 1em;
  line-height: 1.6;
  color: var(--cor-Texto-Principal);
}
li {
  color: var(--cor-Subtítulos);
}
/*

Configurações Gerais e Variaveis em cima 

*/

body {
  background-color: var(--cor-fundo-da-página);
  height: 100dvh;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
  color: var(--cor-Texto-Principal);
}
nav a {
  color: var(--cor-links-botões-Principal);
  text-decoration: none;
  font-family: "Inter", system-ui, sans-serif;
}
nav a:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: #00d5ff81;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  padding: 3px;
}
nav div.noite {
  display: none;
}

main {
  display: grid;
  height: 100%;
  grid-template: auto 1.5fr 1fr 1fr 1fr / 1fr;
  padding: 20px;
  gap: 50px;
}
section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  box-shadow: 1px 2px 9px #00d4ff;
  border-radius: 20px;
  padding: 50px 20px;
}
section#ficha {
  flex-flow: column nowrap;
  align-items: center;

  grid-area: 1 / 1 / 2 / 2;
}
@keyframes borda-pulsante {
  0% {
    box-shadow: 0 0 5px var(--cor-links-botões-Principal); /* Início sutil */
  }
  50% {
    box-shadow: 0 0 20px var(--cor-links-botões-Principal); /* Pico de brilho */
  }
  100% {
    box-shadow: 0 0 5px var(--cor-links-botões-Principal); /* Volta ao início */
  }
}
section#ficha > #perfil {
  width: 50%;
  border-radius: 50%;
  animation: borda-pulsante 4s infinite ease-in-out; 
}
section#ficha h1 {
  display: block;
  font-size: 1.3em;
  padding: 25px 0;
}
section#ficha div#icon-ficha {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-top: 20px;
}
section#ficha a {
  color: white;
}

section#sobre {
  grid-area: 2 / 1 / 3 / 2;
}
section#projetos {
  grid-area: 3 / 1 / 4 / 2;
}
section#formacao {
  grid-area: 4 / 1 / 5 / 2;
}
section#Linguagens {
  grid-area: -2 / 1 / -1 / 2;
  place-content: space-between;
}
